:root {
    --dark-grey: #8E959F;
    --primary-gray: #E1E7EF;
    --main-text-color: #0F172A;
    --light-grey-color: #F7F8FA;
    --red-color: #900B09;
    --green-color: #1C7D41;
    --white-color: #FFF;
    --primary-red: #900B09;
}