@import '@/assets/styles/_fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  color: var(--main-text-color);
  background-color: #fff;
}

p, span {
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
}

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-medium;
}
